<!DOCTYPE html>
<html lang="en">
<%- include('HeaderCategory.ejs'); %>
    <div class= "col-md-offset-4 col-md-4">
        <h1>Science</h1>
        <hr>
    </div>
    <div class="col-md-4 col-md-offset-4 col-mb-2 " id="newsList"></div>


</body>